.cards{
  padding: 10px;
  h1{
    text-align: center;
  }

}
.card-user{
  width:50px;
  border-radius:50px;
  position: absolute;
  bottom: 10px;
}
.card-city{
  height:200px;
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 8px;
}
.card-description{
  font-weight: bold;
  color: white;
  margin-top: 3px;
  h2{
    top: 1px;
    position: absolute;
  }
  p{
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
}
.card-category{
  color: white;

}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
